@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Work+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a, a:visited {
  text-decoration: none;
  color: #140A82;
}

a:hover {
  color: #f50a14;
}

nav {
  position: fixed;
  font-size: 1.5em;
  font-family: 'Quicksand';
  font-weight: 600;
  width: 100%;
  z-index: 99;
  background-color: rgba(255,255,255,0.95);
  /* border-bottom: 1px solid black; */
}

.menu {
  display: flex;
  justify-content: flex-start;
  padding: 2em 5em 1em;
}

nav ul {
  margin-left: auto;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 1.25rem;
}


nav img {
  height: 1.25em;
  margin-right: 1.25rem;
}

.intro {
  top: 0;
  min-height: 65vh;
  padding-top: 35vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}


.greet {
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.line {
  width: 1em;
  height: 9em;
  background-color: #140A82;
  margin-right: 1rem;
}

h1 {
  font-size: 5em;
  line-height: 1;
}

.hand {
  font-size: 3rem;
}

.designer p {
  margin-top: 1em;
  width: 390px;
  font-size: 1.125rem;
}

.welcome {
  font-weight: 600;
  font-size: 1.5em;
}

.dev {
  font-family: monospace;
  font-size: 1.125rem;
}

.dev p {
  width: 390px;

}

.begginer {
  font-size: 1.5em;
}

.web {
  font-size: 6em;
  line-height: 1;
}

.line-two {
  width: 9em;
  height: 0.6em;
  background-color: #f50a14;
  margin: 1rem 0 1.5rem;
}

.red {
  color: #f50a14;
}

/* .yellow {
  background-color: #FFE395;
  height: 1600px;
  width: 650px;
  transform: rotate(-45deg);
  position: absolute;
  right: 0;
  z-index: 0;
} */


#projects {
  background-color: #f50a14;
  padding-top: 5%;
  text-align: center;
}

#projects span {
  font-size: 3.5em;
  font-weight: 600;
  color: #fff;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 2em;
  height: 100%;
}

.project-card {
  background-color: #fff;
  width: 20em;
  height: auto;
  border-radius: 5px;
  margin:2rem;
}

.project-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 220px;
  width: 100%;
}
.project-tile {
  font-weight: 600;
  font-size: 1.5em;
  font-family: 'Quicksand';
}

.project-card p {
  padding: 1em;
}

#about {
  text-align: center;
  width: 70%;
  display: block;
  margin: 0 auto;
  padding-top: 5%;
}

#about span {
  font-size: 3.5em;
  font-weight: 600;
  color: #140A82;
}

#about p {
  padding: 2em 0;
  font-size: 1.125em;
}

#about ul {
  padding: 2em 0;
}

#about ul li {
  display: inline-block;
}

.fab {
  font-size: 2em;
  padding: 0 1rem;
}

footer {
  margin-top: 10em;
  margin-bottom: 2em;
  text-align: center;
}

@media (max-width: 950px) {
  .intro {
    min-height: 80vh;
    padding-top: 20vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .designer {
    margin: 0 auto;
  }

  .dev {
    margin: 0 auto;
    padding: 2em 0;
  }

  .designer p, .dev p {
    width: 320px;
  }

  .welcome {
    font-size: 1.350em;
  }
}

@media (max-width: 650px) {
  .logo span {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    padding: 2em 2em 1em;
  }

  nav ul {
    margin-left: unset;
  }

  h1 {
    font-size: 4.2em;
  }

  .line {
    height: 8em;
  }

  .project-card {
    width: 90%;
    margin:1rem 0;
  }

  #projects span {
    font-size: 2.8em;
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding: 0.5em;
    height: 100%;
  }

  .fab {
    font-size: 2em;
    padding: 0 0.5rem;
  }
}

@media (min-width: 320px) and (max-width: 346px) {
  .menu {
    display: flex;
    justify-content: center;
    padding: 1em;
  }

  .project-card {
    width: 95%;
    margin:1rem 0;
  }

  #projects span {
    font-size: 2.5em;
  }

  h1 {
    font-size: 3.8em;
  }

  .designer p, .dev p {
    width: 280px;
  }
}
